<%- include('header') -%>

<h1>Genderize API</h1>
<form method="POST">

<input name="name" class="inputSearch" placeholder="Enter Your Preferred Name">
<button class="search" type="submit" required>Search</button>

</form>

<%- include('footer') -%>